---
import { Section } from "@/layouts";
import { ProjectList } from "./components/ProjectList";
import { Code } from "lucide-astro";
---

<Section title="Algunos de mis proyectos" label="proyectos" id="proyectos" icon={Code}>
  <div
    class="w-full h-full bg-transparent flex flex-col items-center justify-center"
  >
    <ProjectList client:load />
  </div>
</Section>
