---
import { Section } from "@/layouts";
import { Briefcase } from "lucide-astro";

---

<Section title="¿Dónde he trabajado?" icon={Briefcase}>
  <div class="text-white">Experiencia</div>
</Section>
