---
import { Section } from "@/layouts";
import { ExperienceList } from "./components/ExperienceList";
---

<Section title="¿Dónde he trabajado?" label="experience" id="experience">
  <div
    class="w-full h-full bg-transparent flex flex-col items-center justify-center"
  >
    <ExperienceList client:load />
  </div>
</Section>
