---
import { ContentHero } from "./components/ContentHero";
import { AnimatedHero } from "./components/AnimatedHero";
---

<section
  class="w-full h-screen px-6 flex items-center justify-center overflow-hidden pt-36 md:pt-36 lg:pt-44 max-w-screen-lg mx-auto"
  aria-labelledby="hero-title"
>
  <ContentHero client:load>
    <AnimatedHero title="Alexander Valverde" subtitle="Desarrollador Full Stack" client:load />
  </ContentHero>
</section>
