---
import { Section } from "@/layouts";
import { BentoGridAbout } from "./components/BentoGridAbout";
---

<Section title="Un poco sobre mí" label="about-me">
  <div
    class="w-full h-full bg-transparent flex flex-col items-center justify-center"
  >
    <BentoGridAbout client:load />
  </div>
</Section>
