---
import { Section } from "@/layouts";
import { BentoGridAbout } from "./components/BentoGridAbout";
import { UserRound } from "lucide-astro";
---

<Section title="Un poco sobre mí" label="sobre-mi" id="sobre-mi" icon={UserRound}>
  <div
    class="w-full h-full bg-transparent flex flex-col items-center justify-center"
  >
    <BentoGridAbout client:load />
  </div>
</Section>
