---
import { Section } from "@/layouts";
import { Bookmark, Heart, MessageCircle, Share2, UserRoundCheck } from "lucide-astro";
import Times from "@/components/svelte/Times.svelte";
import { InfiniteScrollHorizontal } from './components/InfiniteScrollHorizontal';
import { images } from "./data/images";
---

<Section title="Un poco sobre m칤" icon={UserRoundCheck}>
  <div
    class="w-full h-full bg-transparent flex flex-col items-center justify-center"
  >
    <div class="grid p-0 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:grid-rows-6 h-full w-full gap-y-4 md:gap-3">
      <article
        class="flex flex-col items-center justify-stretch col-span-1 row-span-1 lg:col-span-1 lg:row-span-2 border border-gray-700/20 rounded-3xl bg-[#1D1D1D] p-7"
      >
        <header class="w-full h-max flex items-start justify-between">
          <div class="w-24 h-auto bg-white/70 rounded-full overflow-hidden border border-green-500">
            <img
              src="./images/profile.png"
              alt="Alexvdev. 游"
              class="w-full h-full object-cover bg-transparent"
            />
          </div>
          <div class="w-full h-full ml-4 flex flex-col items-start justify-center gap-y-1">
            <p class="text-white/90 text-lg md:text-xl lg:text-xl font-medium tracking-wide text-nowrap">Alexander Valverde</p>
            <div class="w-full flex items-center justify-between gap-x-2">
              <span class="text-white/50 font-normal text-sm">@aleexvdev</span>
              <span class="text-white/90 bg-green-700 px-2 py-1 rounded-2xl font-normal text-xs">En l칤nea</span>
            </div>
          </div>
        </header>
        <div class="w-full h-full bg-black mt-5 p-5 rounded-t-lg">
          <p class="text-white/90 text-lg lg:text-2xl font-medium">"Si lo puedes imaginar, lo puedes programar."</p>
        </div>
        <div class="w-full h-20 flex items-center justify-between bg-white px-2.5 rounded-b-lg">
          <div class="w-full h-full flex items-center justify-start gap-x-4">
            <button>
              <Heart class="w-5 h-5" />
            </button>
            <button>
              <MessageCircle class="w-5 h-5" />
            </button>
            <button>
              <Share2 class="w-5 h-5" />
            </button>
          </div>
          <div>
            <Bookmark class="w-5 h-5" />
          </div>
        </div>
      </article>
      <article
        class="flex flex-col items-start justify-start col-span-1 row-span-2 lg:col-span-2 lg:row-span-3 border border-gray-700/20 rounded-3xl bg-[#1D1D1D] p-7"
      >
        <header class="w-full h-max flex items-start mb-6">
          <h1
            class="w-full text-2xl md:text-3xl font-bold flex flex-col items-start text-white"
          >
            Mi lado personal
          </h1>
        </header>
        <div class="w-full h-full max flex-col items-start justify-start mb-0">
          <p class="w-full text-white/75 font-light text-sm md:text-base mb-5">
            Me considero una persona resiliente, responsable y optimista. No
            importa cu치n complejo sea el desaf칤o que enfrente, siempre encuentro
            una manera de superarlo, manteniendo una perspectiva positiva y una
            fuerte independencia en mis decisiones y acciones. Adem치s de ser
            resiliente, me considero una persona comprometida y enfocada en mis
            metas.
          </p>
          <p class="w-full text-white/75 font-light text-sm md:text-base mb-5">
            Siempre busco mejorar y aprender de cada experiencia, lo que me
            permite crecer tanto personal como profesionalmente. Estoy
            convencido de que cada reto es una oportunidad para evolucionar y
            que con determinaci칩n y una actitud positiva, todo es posible.
          </p>
        </div>
        <div class="w-full h-full flex overflow-x-auto gap-4 px-6 py-4 lg:mt-5">
          <div
            class="relative flex flex-col items-center justify-center bg-gradient-to-br from-purple-500 to-blue-500 rounded-xl shadow-lg transform hover:scale-105 hover:rotate-2 transition-transform duration-500 ease-in-out w-24 h-24"
          >
            <div
              class="relative flex items-center justify-center w-full h-full"
            >
              <img
                src="./images/pasta.png"
                alt="Foods"
                class="w-14 h-auto object-cover"
              />
            </div>
            <span
              class="px-2 pb-2 text-white font-semibold text-center text-xs mt-1"
            >
              仇벒잺 Pastas
            </span>
          </div>
          <div
            class="relative flex flex-col items-center justify-center bg-gradient-to-br from-green-500 to-yellow-500 rounded-xl shadow-lg transform hover:scale-105 hover:rotate-2 transition-transform duration-500 ease-in-out w-24 h-24"
          >
            <div
              class="relative flex items-center justify-center w-full h-full"
            >
              <img
                src="./images/basketball.png"
                alt="Basketball"
                class="w-14 h-auto object-cover absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 -ml-3"
              />
              <img
                src="./images/soccer.png"
                alt="Soccer"
                class="w-14 h-auto object-cover absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 ml-3"
              />
            </div>
            <span
              class="px-2 pb-2 text-white font-semibold text-center text-xs mt-1"
            >
              游눩游낕 Deportes
            </span>
          </div>
          <div
            class="relative flex flex-col items-center justify-center bg-gradient-to-br from-red-500 to-orange-500 rounded-xl shadow-lg transform hover:scale-105 hover:rotate-2 transition-transform duration-500 ease-in-out w-24 h-24"
          >
            <div
              class="relative flex items-center justify-center w-full h-full"
            >
              <img
                src="./images/dog.png"
                alt="Dog"
                class="w-12 h-auto object-cover"
              />
            </div>
            <span
              class="px-2 pb-2 text-white font-semibold text-center text-xs mt-1"
            >
              游땘 Perro
            </span>
          </div>
          <div
            class="relative flex flex-col items-center justify-center bg-gradient-to-br from-blue-500 to-teal-500 rounded-xl shadow-lg transform hover:scale-105 hover:rotate-2 transition-transform duration-500 ease-in-out w-24 h-24"
          >
            <div
              class="relative flex items-center justify-center w-full h-full"
            >
              <img
                src="./images/cat.png"
                alt="Cat"
                class="w-12 h-auto object-cover"
              />
            </div>
            <span
              class="px-2 pb-2 text-white font-semibold text-center text-xs mt-1"
            >
              游봃 Gato
            </span>
          </div>
          <div
            class="relative flex flex-col items-center justify-center bg-gradient-to-br from-pink-500 to-indigo-500 rounded-xl shadow-lg transform hover:scale-105 hover:rotate-2 transition-transform duration-500 ease-in-out w-24 h-24"
          >
            <div
              class="relative flex items-center justify-center w-full h-full"
            >
              <img
                src="./images/joystick.png"
                alt="Joystick"
                class="w-12 h-auto object-cover"
              />
            </div>
            <span
              class="px-2 pb-2 text-white font-semibold text-center text-xs mt-1"
            >
              游땙 Juegos
            </span>
          </div>
        </div>
      </article>
      <article
        class="flex flex-col col-span-1 row-span-1 lg:col-span-1 lg:row-span-1 border border-gray-700/20 rounded-3xl bg-[#1D1D1D] p-7"
      >
        <header class="w-full h-max flex items-start mb-6">
          <h1
            class="w-full text-2xl md:text-3xl font-bold flex flex-col items-left text-white"
          >
            Mis habilidades
          </h1>
        </header>
        <div
          class="w-full h-full flex flex-col items-center justify-center gap-y-0 lg:gap-y-6"
        >
          <InfiniteScrollHorizontal images={images} client:load />
        </div>
      </article>
      <article
        class="relative flex flex-col col-span-1 row-span-2 md:col-span-2 md:row-span-3 lg:col-span-3 lg:row-span-3 border border-gray-700/20 rounded-3xl bg-[#1D1D1D] p-7"
      >
        <header class="w-full h-max flex items-start mb-6">
          <h1
            class="w-full text-2xl md:text-3xl font-bold flex flex-col items-start text-white"
          >
            En el trabajo
          </h1>
        </header>
        <div class="w-full h-max flex flex-col items-start justify-start mb-24 md:mb-48 lg:mb-0">
          <p class="w-full text-white/75 font-light text-sm md:text-base mb-5">
            Con casi 3 a침os de experiencia en desarrollo web, me especializo en
            crear aplicaciones escalables y adaptadas a las necesidades del
            cliente. Mi enfoque combina un entendimiento profundo de los
            requisitos con la capacidad de trabajar eficazmente en equipos
            multidisciplinarios o de manera independiente. Soy adaptable y
            proactivo, siempre buscando mejorar procesos y contribuir al 칠xito
            de cada proyecto.
          </p>
          <p class="w-full text-white/75 font-light text-sm md:text-base mb-5">
            Estoy continuamente explorando nuevas tecnolog칤as y metodolog칤as
            para mantenerme actualizado con las mejores pr치cticas en el campo,
            lo que me permite contribuir de manera significativa a los proyectos
            en los que trabajo.
          </p>
        </div>
        <div
          class="absolute bottom-0 left-1/2 transform -translate-x-1/2 overflow-hidden w-[95%] md:w-[90%] lg:w-4/5 mx-auto h-auto shadow-2xl shadow-black/20 opacity-80 rounded-t-lg transition-transform duration-500 hover:scale-105"
          style="mask-image: linear-gradient(black 60%, transparent);"
        >
          <img
            src="./images/method_work.png"
            alt="Mi trabajo"
            class="w-full h-full object-cover rounded-xl filter contrast-125 brightness-90 saturate-150 transition-all duration-500 hover:contrast-150 hover:brightness-100"
            loading="lazy"
            decoding="async"
          />
        </div>
      </article>
      <article
        class="flex flex-col col-span-1 row-span-1 md:col-span-2 md:row-span-2 lg:col-span-2 lg:row-span-1 border border-gray-700/20 rounded-3xl bg-[#1D1D1D] p-7"
      >
        <header class="w-full h-max flex items-start mb-6">
          <h1
            class="w-full text-2xl md:text-3xl font-bold flex flex-col items-start text-white"
          >
            Educaci칩n
          </h1>
        </header>
        <div class="w-full">
          <h2
            class="text-white text-xl md:text-2xl text-wrap font-semibold hover:text-[#22C55E]"
          >
            Bachiller en Ingenier칤a Inform치tica
          </h2>
          <div class="w-full mt-2 mb-3 flex items-start justify-start">
            <span class="text-nowrap text-[#6E6E6F] font-normal text-base md:text-lg"
              >Lima, Per칰</span
            >
            <span class="w-px h-4 md:h-5 bg-[#6E6E6F] mx-2 my-1"></span>
            <span class="text-nowrap text-[#6E6E6F] font-normal text-base md:text-lg">
              2016 - 2021
            </span>
          </div>
          <p class="text-white/75 font-normal text-sm md:text-base">
            Graduado por la Universidad Nacional Jos칠 Faustino S치nchez Carri칩n
            en Ingenier칤a Inform치tica, donde desarroll칠 una base s칩lida en 치reas
            clave como la gesti칩n de tecnolog칤as de la informaci칩n, desarrollo
            de software, y la seguridad inform치tica. Mi formaci칩n me prepar칩
            para alinear estrategias empresariales con soluciones tecnol칩gicas
            avanzadas, garantizando la eficiencia y seguridad en los sistemas de
            informaci칩n.
          </p>
        </div>
      </article>
      <article
        class="w-full flex flex-col col-span-1 row-span-1 md:col-span-2 md:row-span-1 lg:col-span-1 lg:row-span-1 border border-gray-700/20 rounded-3xl bg-[#1D1D1D] p-7"
      >
        <header class="w-full h-max flex items-start mb-6">
          <h1
            class="w-full text-2xl md:text-3xl font-bold flex flex-col items-start text-white"
          >
            Mi ubicaci칩n
          </h1>
        </header>
        <div class="w-full h-full">
          <div class="w-full h-full flex flex-col md:flex-row lg:flex-col items-center justify-center md:justify-center lg:justify-center">
            <div
              class="w-full flex flex-col items-center justify-center gap-y-2k"
            >
              <p class="text-white text-3xl md:text-4xl font-bold">
                Sede en
                <span
                  class="bg-gradient-to-r from-red-600 via-white to-red-600 bg-clip-text text-transparent"
                >
                  Lima
                </span>
              </p>
              <div class="flex items-center gap-x-2">
                <img
                  src="./images/bandera.png"
                  alt="Bandera de Per칰"
                  class="w-6 h-6 object-cover"
                />
                <p class="text-white/90 text-xl md:text-2xl">Per칰</p>
              </div>
              <p class="text-white/75 text-sm md:text-base">Botame tu Gaaaa!</p>
            </div>
            <div class="w-full h-px bg-[#6E6E6F] my-4 md:w-px md:h-[90%] md:my-0 md:mx-4 lg:mx-0 lg:my-4 lg:h-px lg:w-full"></div>
            <div class="w-full flex flex-col items-center justify-center">
              <div class="w-full h-max flex items-end justify-center gap-x-2">
                <Times />
                <span class="text-white text-base md:text-lg mb-0.5 md:mb-0">CEST</span>
              </div>
              <p
                class="text-white/75 text-wrap text-center font-medium text-sm md:text-base"
              >
                Domingo, 1 de septiembre de 2022
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</Section>
