---
import { Section } from "@/layouts";
import { FormContact, SocialChannels } from "./components";
import { ButtonLink } from "@/components/react/ButtonLink";
import { TemplateForm } from "./components/TemplateForm";
---

<Section title="Envíame un mensaje" label="contacto" id="contacto">
  <div class="w-full h-full bg-transparent pb-16">
    <header class="w-full h-max flex items-start mb-6">
      <h2
        class="w-full text-lg md:text-xl lg:text-2xl text-pretty font-medium text-left text-black dark:text-white"
      >
        Construyamos algo asombroso.
      </h2>
    </header>
    <div class="w-full flex flex-col items-center justify-center gap-y-4">
      <TemplateForm client:load />
    </div>

    <!-- <div class="w-full grid grid-cols-1 lg:grid-cols-4 grid-rows-4 gap-6">
      <div class="col-span-2 row-span-2 rounded-3xl p-7">
        <header class="w-full h-max flex items-start mb-6">
          <h2
            class="w-full text-lg md:text-xl lg:text-2xl font-semibold text-left text-[#22C55E]"
          >
            Contáctame cuando quieras
          </h2>
        </header>
        <p
          class="w-full text-white/75 text-base md:text-lg mb-6 text-pretty font-medium"
        >
          ¿Tienes alguna pregunta o idea en mente? O simplemente quieres
          conectar. Escríbeme y estaré encantado de responderte.
        </p>
        <div class="w-full flex items-center justify-center mt-2">
          <ButtonLink
            client:load
            href="mailto:alexvalverde.dev@gmail.com"
            className="w-max flex items-start justify-start bg-white/10 rounded-xl px-5 py-3 text-white hover:text-[#22C55E] transition-colors duration-300"
          >
            <img
              src="./images/social/gmail.svg"
              alt="Gmail"
              class="w-6 h-6 mr-2"
            />
            <p class="font-medium text-base md:text-lg">
              alexvalverde.dev@gmail.com
            </p>
          </ButtonLink>
        </div>
      </div>
      <div class="col-span-2 row-span-2 rounded-3xl p-7">
        <header class="w-full h-max flex items-start mb-6">
          <h2
            class="w-full text-lg md:text-xl lg:text-2xl text-pretty font-medium text-left text-[#22C55E]"
          >
            ¡Muchas gracias por tu tiempo!
          </h2>
        </header>
        <p class="w-full text-white/75 text-base md:text-lg mb-6">
          Si así lo prefieres, no dudes en contactarme a través de cualquiera de
          estos canales:
        </p>
        <SocialChannels client:load />
      </div>
    </div> -->
  </div>
</Section>
