---
import { Header } from "@/components/Header";
import { ScrollUp } from "@/components/ScrollUp";
import { Layout, Footer } from "@/layouts";
import {
  About,
  Hero,
  CallToAction,
  Projects,
  Experience,
  Contact,
} from "@/sections";

const title = "Alexander Valverde | Ingeniero Informático";
const description = "Desarrollador Full Stack con 2 años de experiencia en el desarrollo de software y programación web.";
const canonicalPathname = "https://alexvdev.netlify.app";
---

<!-- Primer Layout -->
<Layout
  title={title}
  description={description}
  canonicalPathname={canonicalPathname}
>
  <Header client:load />
  <ScrollUp client:load />
  <Hero />
  <main class="w-full min-h-screen max-w-screen-lg mx-auto relative">
    <Experience />
    <CallToAction />
    <Projects />
    <About />
    <Contact />
  </main>
  <Footer />
</Layout>
