---

import { Header, Layout} from '@/layouts';
import { Hero } from '@/sections';
import CallToAction from '@/components/CallToAction.astro';

---

<!-- Primer Layout -->
<Layout title="Alexvdev. 🤟">
  <Header />
  <main class="w-full h-screen max-w-screen-lg mx-auto relative space-y-36 pt-36 lg:pt-44 lg:space-y-48">
    <Hero />
    <CallToAction />
  </main>
</Layout>