---

import { Header, Layout, Footer } from '@/layouts';
import { About, Hero, CallToAction, Projects, Experience } from '@/sections';

---

<!-- Primer Layout -->
<Layout title="Alexvdev. 🤟">
  <Header />
  <main class="w-full min-h-screen max-w-screen-lg mx-auto relative space-y-36 lg:space-y-40">
    <Hero />
    <Experience />
    <CallToAction />
    <Projects />
    <About />
  </main>
  <Footer />
</Layout>