---

import { Header, Layout} from '@/layouts';
import { Hero } from '@/sections/hero';
---

<!-- Primer Layout -->
<Layout title="Alexvdev. 🤟">
  <Header />
  <main class="w-full h-screen max-w-screen-lg mx-auto relative">
    <Hero />
  </main>
</Layout>