---
interface CardHeroProps {
  title: string;
  subtitle: string;
}
const { title, subtitle } = Astro.props;
---

<div class="w-full h-full">
  <div class="w-full flex flex-col gap-y-2">
    <div class="w-max flex items-center gap-x-2">
      <div class="block w-40 h-4 bg-white"></div>
      <div class="block w-24 h-4 bg-white"></div>
      <div class="block w-4 h-4 rounded-full bg-white"></div>
      <div class="block w-16 h-4 bg-white"></div>
    </div>
    <div class="w-max flex items-center gap-x-2">
      <div class="block w-80 h-4 bg-white"></div>
      <div class="block w-24 h-4 bg-white"></div>
    </div>
    <div class="w-max flex items-center gap-x-2">
      <div class="block w-24 h-4 bg-white"></div>
      <div class="block w-5 h-4 bg-white"></div>
      <div class="block w-16 h-4 bg-white"></div>
      <div class="block w-40 h-4 bg-white"></div>
      <div class="block w-20 h-4 bg-white"></div>
    </div>
    <div class="w-max flex items-center gap-x-2">
      <div class="block w-44 h-4 bg-white"></div>
      <div class="block w-24 h-4 bg-white"></div>
      <div class="block w-4 h-4 rounded-full bg-white"></div>
      <div class="block w-32 h-4 bg-white"></div>
      <div class="block w-20 h-4 bg-white"></div>
    </div>
    <div class="w-max flex items-center gap-x-2 ml-10">
      <div class="block w-32 h-4 bg-white"></div>
      <div class="block w-5 h-4 bg-white"></div>
      <div class="block w-40 h-4 bg-white"></div>
      <div class="block w-56 h-4 bg-white"></div>
    </div>
    <div class="w-full ml-10 py-5">
      <h1
        class="text-5xl font-semibold leading-tight text-white tracking-normal"
      >
        {title}
      </h1>
      <p class="text-xl leading-relaxed font-medium text-white tracking-normal">
        {subtitle}
      </p>
    </div>
    <div class="w-max flex items-center gap-x-2 ml-10">
      <div class="block w-44 h-4 bg-white"></div>
      <div class="block w-4 h-4 rounded-full bg-white"></div>
      <div class="block w-28 h-4 bg-white"></div>
      <div class="block w-56 h-4 bg-white"></div>
    </div>
    <div class="w-max flex items-center gap-x-2">
      <div class="block w-40 h-4 bg-white"></div>
      <div class="block w-20 h-4 bg-white"></div>
      <div class="block w-32 h-4 bg-white"></div>
      <div class="block w-36 h-4 bg-white"></div>
    </div>
    <div class="w-max flex items-center gap-x-2">
      <div class="block w-52 h-4 bg-white"></div>
      <div class="block w-24 h-4 bg-white"></div>
      <div class="block w-40 h-4 bg-white"></div>
    </div>
    <div class="w-max flex items-center gap-x-2">
      <div class="block w-64 h-4 bg-white"></div>
      <div class="block w-32 h-4 bg-white"></div>
      <div class="block w-5 h-4 bg-white"></div>
    </div>
    <div class="w-max flex items-center gap-x-2">
      <div class="block w-24 h-4 bg-white"></div>
      <div class="block w-5 h-4 bg-white"></div>
      <div class="block w-24 h-4 bg-white"></div>
      <div class="block w-4 h-4 rounded-full bg-white"></div>
      <div class="block w-24 h-4 bg-white"></div>
    </div>
  </div>
</div>

<style>
  h1 {
    background: linear-gradient(90deg, #9845e8 0%, #3377ff 55%, #dd5789 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
