---

---

<footer class="w-full h-16">
  <div class="w-full h-full flex items-center justify-center">
    <p class="text-white/75 text-sm md:text-base">
      <span class="text-white/50 font-normal">
        &copy; 2023 Alexander Valverde
      </span>
    </p>
  </div>
</footer>
