---

---
<footer class="w-full h-24 select-none bg-transparent hover:scale-105 transition-transform duration-300">
  <div class="w-full h-full flex items-center justify-center">
    <a href="https://www.linkedin.com/in/alexvalverde/" target="_blank" class="w-max h-max flex items-center justify-center space-x-2">
      <span class="text-black dark:text-white font-normal text-sm md:text-base lg:text-lg">Hecho con <span class="animate-pulse opacity-100">❤️</span> por </span>
      <span class="text-blue-600 font-medium text-sm md:text-base lg:text-lg">Alexander Valverde</span>
    </a>
  </div>
</footer>
