---

---
<footer class="w-full h-24">
  <div class="w-full h-full flex items-center justify-center">
    <span class="text-white font-normal text-sm md:text-base lg:text-lg">
      Hecho con ❤️ por <a href="https://www.linkedin.com/in/alexvalverde/" target="_blank" class="text-green-500 font-medium text-sm md:text-base lg:text-lg">Alexander Valverde </a>
    </span>
  </div>
</footer>
