---
import type { SVGProps } from "react";

interface SectionProps {
  title: string;
  icon: React.FC<SVGProps<SVGSVGElement>>;
  label: string;
  id: string;
}

const { title, icon: Icon, label, id } = Astro.props as SectionProps;
---

<section
  class="w-full h-max px-6 pb-10 flex flex-col items-center justify-center overflow-hidden"
  id={id}
  aria-labelledby={label}
>
  <div class="inline-flex w-full items-center justify-start gap-x-4 pb-10">
    <h2
      class="text-white text-3xl md:text-4xl lg:text-5xl font-bold text-pretty w-max"
    >
      {title}
    </h2>
    <div class="ml-2 h-px grow translate-y-full bg-[#2B2B2B]"></div>
  </div>
  <slot />
</section>
